.pokearticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $pokearticle-size;
    height: $pokearticle-size;
    border: 3px ridge rgba($color: $background-color, $alpha: 0.75);
    background-color: rgba($color: $background-color, $alpha: 0.75);
    margin: $article-margin;

    &__name{
        text-decoration: none;
        color: #dcea0d;
    }

    &__image{
        width: 200px;
        height: 200px;
    }
}