// couleurs
$background-color: #0c0d02;
$link-color: #81d825;
$page-color: #dcea0d;

// tailles
$navSections-height: 80px;
$border-width: 3px;
$pokearticle-size: 300px;

// bordures
$nav-border: $border-width ridge $link-color;

// marges
$article-margin: 20px;
$table-padding: 10px;