// couleurs
$background-color: #0c0d02;
$link-color: #81d825;
$page-color: #dcea0d;
$background-fire: #ff4000;
$background-water: #0a8fd9;
$background-plant: #06b437;
$background-elektric: #ced606;
$background-ground: #985600;
$background-rock: #502907;
$background-steel: #c7bbaa;
$background-fly: #90f2ee;
$background-poison: #740574;
$background-bug: #ced606;
$background-ice: #18fffc;
$background-psy: #da0ada;
$background-dark: #000000;
$background-spirit: #3a343b;
$background-normal: #ffffff;
$background-fight: #f6b900;
$background-dragon: #002fe8;
$background-fairy: #ce84d2;
$background-primary-opacity: 0.7;
$background-type-opacity: 0.958420868347339;

// tailles
$navSections-height: 80px;
$border-width: 3px;
$pokearticle-size: 300px;
$background-size: 240%;

// bordures
$nav-border: $border-width ridge $link-color;

// marges
$article-margin: 20px;
$table-padding: 10px;