.background{

    &__fire{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-fire, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity));
        color: black;
    }

    &__water{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-water, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__plant{
        width: 100%;
        flex-grow: 2;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-plant, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity));
    }

    &__electrik{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-elektric, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity));
        color: black;
    }

    &__ground{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-ground, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__rock{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-rock, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__steel{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-steel, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity));
        color: black;
    }

    &__fight{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-fight, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity));
        color: black;
    }

    &__fly{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-fly, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__ice{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-ice, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity));
        color: black;
    }

    &__poison{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-poison, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__bug{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-bug, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity));
        color: black;
    }

    &__psy{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-psy, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__dark{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-dark, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__spirit{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-spirit, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__dragon{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-dragon, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__fairy{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-fairy, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity))
    }

    &__normal{
        width: 100%;
        z-index: -1;
        position: absolute;    
        background: radial-gradient(circle, rgba($color: $background-normal, $alpha: $background-type-opacity), rgba($color: $background-color, $alpha: $background-primary-opacity));
        color: black
    }

}