.compared{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $page-color;

    &__pokemon{
        display: flex;
        justify-content: space-around;

        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;

            &--left{
                border-right: solid 1px white;
            }

            &--right{
                border-left: solid 1px white;
            }

            &__image{
                max-width: 60%;
                height: auto;
            }

            &__types{
                display: flex;
                justify-content: space-around;
                width: 40%;
                margin-top: 10px;

                &__img{
                    max-width: 60px;
                    height: auto;
                }
            }

            &__vulnerabilities{
                display: flex;
                flex-direction: column;
                align-items: center;


                &__item{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 100px;
                    width: 450px;
                    border-top: solid 1px white;
                    border-bottom: solid 1px white;
                    padding-bottom: 20px;
                    padding-top: 2px;

                    &__flex{
                        display: flex;
                        justify-content: space-around;
                        width: 50%;

                        &__img{
                            max-width: 50px;
                            height: auto;
                        }
                        
                    }
                }
            }

            &__stats{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &__item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 200px;

                    &--reversed{
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: space-between;
                        width: 200px;
                    }
                }
            }
    
        }

    }
}