.compared{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: $page-color;
    background: rgba($color: $background-color, $alpha: 0.8);
    padding-top: $page-padding;
    width: 100%;
    text-align: center;

    &__pokemon{
        display: flex;
        justify-content: space-around;

        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;

            &--left{
                border-right: solid 1px white;
            }

            &--right{
                border-left: solid 1px white;
            }

            &__image{
                max-width: 60%;
                height: auto;
            }

            &__types{
                display: flex;
                justify-content: space-around;
                width: 30%;
                margin-top: 10px;

                &__img{
                    max-width: 60px;
                    height: auto;
                }
            }

            &__vulnerabilities{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;


                &__item{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    height: 100px;
                    width: 550px;
                    border-top: solid 1px white;
                    border-bottom: solid 1px white;
                    padding-bottom: 20px;
                    padding-top: 2px;

                    &__flex{
                        display: flex;
                        justify-content: space-around;
                        width: 70%;

                        &__img{
                            max-width: 50px;
                            height: auto;
                        }
                        
                    }
                }
            }

            &__stats{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 60%;
                text-align: center;

                &--reversed{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    width: 60%;    
                }
                
                &__item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    &__empty-bar{
                        width: 200px;
                        height: 10px;

                        &--reversed{
                            width: 200px;
                            height: 10px;    
                            position: relative;
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
        
                    &__full-bar{
                        height: 100%;
                        background-color: white;

                        &--red{
                            height: 100%;
                            background-color: $background-great-weakness;

                        }

                        &--orange{
                            height: 100%;
                            background-color: $background-weakness;
                        }

                        &--yellow{
                            height: 100%;
                            background-color: $background-neutral;

                        }
                        &--green{
                            height: 100%;
                            background-color: $background-resistance;

                        }
                    }        

                    &--reversed{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                    }
                }
            }
    
        }

    }
}