.compare {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $page-color;
    background: rgba($color: $background-color, $alpha: 0.8);
    padding-top: $page-padding;

    &__intro {
        margin-top: 50px;
        font-size: 30px;
        font-weight: 400;
    }

    &__selects {
        display: flex;
        justify-content: space-around;
        width: 90%;

        &__container{
            display: flex;
            flex-direction: column;
            align-items: center;

            &__pokemon{
                display: flex;
                flex-direction: column;
                align-items: center;

                &__image{
                    width: 50%;
                    min-height: auto;
                }
            }
        }
    }

    &__pokemons{
        display: flex;
        justify-content: space-around;
        width: 90%;

        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &__image{
                width: 60%;
                min-height: auto;
            }

        }
    }

    &__buttons {
        margin-top: 10px;

        &__item{
            padding: 10px;
            background-color: rgba($color: $page-color, $alpha: $background_primary_opacity);
            border-radius: 25px;
            cursor: pointer;
        }
    }

}