.home{
    flex-grow: 1;
    min-height: 100vh;
    color: $page-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba($color: $background-color, $alpha: 0.8);
    padding-top: $page-padding;

}