.pokemon{
    color: $page-color;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &__title{
            font-size: 40px;
        }

        &__information{
            display: flex;
            flex-direction: column;
            border: $border-width ridge $page-color;
            padding: 20px;
            position: absolute;
            top: 20%;
            left: 0;
            font-size: 20px;
        }

        &__tables{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &__stats{
                border: ($border-width)*2 ridge $page-color;
                border-collapse: collapse;
    
                &__cell{
                    border: $border-width ridge $page-color;
                    border-collapse: collapse;
                    padding: $table-padding;
                    background-color: rgba($color: $background-color, $alpha: 0.7);
                }
            }

            &__weaknesses{
                border-collapse: collapse;

                &__column{
                    border: ($border-width)*2 ridge $page-color;
                    border-collapse: collapse;    
                }

                &__cell{
                    border: $border-width ridge $page-color;
                    border-collapse: collapse;
                    padding: $table-padding;
                    background-color: rgba($color: $background-color, $alpha: 0.7);
                }
            }
        }

    }
}