.pokelist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $page-color;
    background: rgba($color: $background-color, $alpha: 0.8);


    &__generation-choice{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $article-margin;

        &__buttons{
            display: flex;

            &__button{
                margin-left: 10px;
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }

    &__pokemons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__loading{
        height: 100vh;
        width: 100%;
    }
}
