.pokemon{
    color: $page-color;

    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &__title{
            font-size: 40px;
        }

        &__evolution{
            display: flex;
            justify-content: space-between;
            width: 100%;

            &__group{
                display: flex;
                flex-direction: column;
            }

            &__name{
                color: $page-color;
                text-decoration: none;
                background-color: rgba($color: $background-color, $alpha: 0.85);
                padding: $table-padding;
                margin-top: 10px;

                &--left{
                    border-top: 1px ridge $page-color;
                    border-right: 1px ridge $page-color;
                    border-bottom: 1px ridge $page-color;
                }

                &--right{
                    border-top: 1px ridge $page-color;                
                    border-left: 1px ridge $page-color;                
                    border-bottom: 1px ridge $page-color;                
                }

            }
        }

        &__information{
            display: flex;
            flex-direction: column;
            border-top: $border-width ridge $page-color;
            border-right: $border-width ridge $page-color;
            border-bottom: $border-width ridge $page-color;
            padding: 10px;
            position: absolute;
            top: 20%;
            left: 0;
            font-size: 20px;
            margin-top: 180px;
            width: 15%;
            background-color: rgba($color: $background-color, $alpha: 0.85);

            &__container-img{
                display: flex;
                margin-top: 5px;

                &__img{
                    margin-left: 5px;
                    width: 30px;
                    height: 30px;

                }
    
            }

        }

        &__img{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;

            &__button{
                width: 20%;
                font-size: 20px;
                cursor: pointer;
                padding: 2%;
                text-align: center;
                background-color: goldenrod;
            }
        }

        &__tables{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &__stats{
                border: ($border-width)*2 ridge $page-color;
                border-collapse: collapse;
    
                &__cell{
                    border: $border-width ridge $page-color;
                    border-collapse: collapse;
                    padding: $table-padding;
                    background-color: rgba($color: $background-color, $alpha: 0.7);
                }
            }

            &__weaknesses{
                border-collapse: collapse;

                &__column{
                    border: ($border-width)*2 ridge $page-color;
                    border-collapse: collapse;    
                }

                &__cell{
                    border: $border-width ridge $page-color;
                    border-collapse: collapse;
                    padding: $table-padding;
                    background-color: rgba($color: $background-color, $alpha: 0.7);

                    &--orange{
                        border: $border-width ridge $page-color;
                        border-collapse: collapse;
                        padding: $table-padding;    
                        background-color: orange;
                        color: black;
                    }

                    &--red{
                        border: $border-width ridge $page-color;
                        border-collapse: collapse;
                        padding: $table-padding;    
                        background-color: red;
                        color: black;
                    }

                    &--green{
                        border: $border-width ridge $page-color;
                        border-collapse: collapse;
                        padding: $table-padding;    
                        background-color: green;
                        color: black;
                    }

                    &--blue{
                        border: $border-width ridge $page-color;
                        border-collapse: collapse;
                        padding: $table-padding;    
                        background-color: blue;
                        color: black;
                    }


                    &--yellow{
                        border: $border-width ridge $page-color;
                        border-collapse: collapse;
                        padding: $table-padding;    
                        background-color: yellow;
                        color: black;
                    }

                    &--white{
                        border: $border-width ridge $page-color;
                        border-collapse: collapse;
                        padding: $table-padding;    
                        background-color: white;
                        color: black;
                    }

                }
            }
        }

        &__talents{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;

            &__container{
                display: flex;
                justify-content: space-around;
                width: 60%;

                &__item{
                    border: $border-width ridge $page-color;
                    border-radius: 10px;
                    padding: $table-padding;
                    background-color: rgba($color: $background-color, $alpha: 0.7);
                }
            }
        }

    }
}