.search{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    color: $page-color;
    background: rgba($color: $background-color, $alpha: 0.8);
    padding-top: $page-padding;

    &__input{
        margin-top: $article-margin;
        height: 30px;
        width: 300px;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        min-height: 100vh;

        &-empty{
            height: 100vh;
        }
    }
}