@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
}

.background__fire {
  width: 100%;
  background: radial-gradient(circle, rgba(255, 64, 0, 0.9584208683), rgba(12, 13, 2, 0.7));
  color: black;
}
.background__water {
  width: 100%;
  background: radial-gradient(circle, rgba(10, 143, 217, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__plant {
  width: 100%;
  background: radial-gradient(circle, rgba(6, 180, 55, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__electrik {
  width: 100%;
  background: radial-gradient(circle, rgba(206, 214, 6, 0.9584208683), rgba(12, 13, 2, 0.7));
  color: black;
}
.background__ground {
  width: 100%;
  background: radial-gradient(circle, rgba(152, 86, 0, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__rock {
  width: 100%;
  background: radial-gradient(circle, rgba(80, 41, 7, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__steel {
  width: 100%;
  background: radial-gradient(circle, rgba(199, 187, 170, 0.9584208683), rgba(12, 13, 2, 0.7));
  color: black;
}
.background__fight {
  width: 100%;
  background: radial-gradient(circle, rgba(246, 185, 0, 0.9584208683), rgba(12, 13, 2, 0.7));
  color: black;
}
.background__fly {
  width: 100%;
  background: radial-gradient(circle, rgba(144, 242, 238, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__ice {
  width: 100%;
  background: radial-gradient(circle, rgba(24, 255, 252, 0.9584208683), rgba(12, 13, 2, 0.7));
  color: black;
}
.background__poison {
  width: 100%;
  background: radial-gradient(circle, rgba(116, 5, 116, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__bug {
  width: 100%;
  background: radial-gradient(circle, rgba(206, 214, 6, 0.9584208683), rgba(12, 13, 2, 0.7));
  color: black;
}
.background__psy {
  width: 100%;
  background: radial-gradient(circle, rgba(218, 10, 218, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__dark {
  width: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__spirit {
  width: 100%;
  background: radial-gradient(circle, rgba(58, 52, 59, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__dragon {
  width: 100%;
  background: radial-gradient(circle, rgba(0, 47, 232, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__fairy {
  width: 100%;
  background: radial-gradient(circle, rgba(206, 132, 210, 0.9584208683), rgba(12, 13, 2, 0.7));
}
.background__normal {
  width: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.9584208683), rgba(12, 13, 2, 0.7));
  color: black;
}

.header {
  background-color: rgba(12, 13, 2, 0.95);
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0;
}
.header__div {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px ridge #81d825;
  box-shadow: 0px 5px 10px #81d825;
}
.header__last__div {
  border-right: 3px ridge #81d825;
}
.header__link {
  text-decoration: none;
  color: #81d825;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px ridge #81d825;
  box-shadow: 0px 5px 10px #81d825;
}
.header__link__activated {
  background-color: rgba(44, 72, 13, 0.75);
  text-decoration: none;
  color: #81d825;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 3px ridge #81d825;
  box-shadow: 0px 5px 10px #81d825;
}

.footer {
  background-color: rgba(12, 13, 2, 0.95);
  height: 80px;
  width: 100%;
}

.home {
  flex-grow: 1;
  min-height: 100vh;
  color: #dcea0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(12, 13, 2, 0.8);
  padding-top: 35px;
}

.pokelist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #dcea0d;
  background: rgba(12, 13, 2, 0.8);
  padding-top: 35px;
}
.pokelist__generation-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.pokelist__generation-choice__buttons {
  display: flex;
}
.pokelist__generation-choice__buttons__button {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.pokelist__pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pokelist__loading {
  height: 100vh;
  width: 100%;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  color: #dcea0d;
  background: rgba(12, 13, 2, 0.8);
  padding-top: 35px;
}
.search__input {
  margin-top: 20px;
  height: 30px;
  width: 300px;
}
.search__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
.search__list-empty {
  height: 100vh;
}

.compare {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dcea0d;
  background: rgba(12, 13, 2, 0.8);
  padding-top: 35px;
}
.compare__intro {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 400;
}
.compare__selects {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 20px;
}
.compare__buttons {
  margin-top: 10px;
}
.compare__buttons__item {
  padding: 10px;
  background-color: rgba(220, 234, 13, 0.7);
  border-radius: 25px;
  cursor: pointer;
}

.compared {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #dcea0d;
  background: rgba(12, 13, 2, 0.8);
  padding-top: 35px;
  width: 100%;
}
.compared__pokemon {
  display: flex;
  justify-content: space-around;
}
.compared__pokemon__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.compared__pokemon__item--left {
  border-right: solid 1px white;
}
.compared__pokemon__item--right {
  border-left: solid 1px white;
}
.compared__pokemon__item__image {
  max-width: 60%;
  height: auto;
}
.compared__pokemon__item__types {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin-top: 10px;
}
.compared__pokemon__item__types__img {
  max-width: 60px;
  height: auto;
}
.compared__pokemon__item__vulnerabilities {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.compared__pokemon__item__vulnerabilities__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  padding-bottom: 20px;
  padding-top: 2px;
}
.compared__pokemon__item__vulnerabilities__item__flex {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.compared__pokemon__item__vulnerabilities__item__flex__img {
  max-width: 50px;
  height: auto;
}
.compared__pokemon__item__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.compared__pokemon__item__stats__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.compared__pokemon__item__stats__item__empty-bar {
  width: 200px;
  height: 10px;
}
.compared__pokemon__item__stats__item__full-bar {
  height: 100%;
  background-color: white;
}
.compared__pokemon__item__stats__item__full-bar--red {
  height: 100%;
  background-color: #d93838;
}
.compared__pokemon__item__stats__item__full-bar--orange {
  height: 100%;
  background-color: #d99238;
}
.compared__pokemon__item__stats__item__full-bar--yellow {
  height: 100%;
  background-color: #d2d938;
}
.compared__pokemon__item__stats__item__full-bar--green {
  height: 100%;
  background-color: #26952b;
}
.compared__pokemon__item__stats__item--reversed {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.pokemon {
  color: #dcea0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}
.pokemon__container {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon__container__title {
  font-size: 40px;
}
.pokemon__container__evolution {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.pokemon__container__evolution__group {
  display: flex;
  flex-direction: column;
}
.pokemon__container__evolution__group__subgroup {
  display: flex;
  flex-direction: column;
}
.pokemon__container__evolution__name {
  color: #dcea0d;
  text-decoration: none;
  background-color: rgba(12, 13, 2, 0.85);
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.pokemon__container__evolution__name--left {
  border-top: 1px ridge #dcea0d;
  border-right: 1px ridge #dcea0d;
  border-bottom: 1px ridge #dcea0d;
}
.pokemon__container__evolution__name--right {
  border-top: 1px ridge #dcea0d;
  border-left: 1px ridge #dcea0d;
  border-bottom: 1px ridge #dcea0d;
}
.pokemon__container__information {
  display: flex;
  flex-direction: column;
  border-top: 3px ridge #dcea0d;
  border-right: 3px ridge #dcea0d;
  border-bottom: 3px ridge #dcea0d;
  padding: 10px;
  position: absolute;
  top: 20%;
  left: 0;
  font-size: 20px;
  margin-top: 180px;
  width: 15%;
  background-color: rgba(12, 13, 2, 0.85);
  color: #dcea0d;
  text-align: left;
}
.pokemon__container__information__container-img {
  display: flex;
  margin-top: 5px;
}
.pokemon__container__information__container-img__img {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}
.pokemon__container__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.pokemon__container__img__button {
  width: 100px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  background-color: goldenrod;
}
.pokemon__container__mega-evolution {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon__container__mega-evolution__flex {
  display: flex;
}
.pokemon__container__mega-evolution__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon__container__mega-evolution__item--img {
  max-width: 80%;
  height: auto;
}
.pokemon__container__stats {
  display: flex;
  flex-direction: column;
  border: ridge 3px #dcea0d;
  width: 60%;
  background-color: rgba(12, 13, 2, 0.85);
  color: #dcea0d;
  margin-top: 10px;
}
.pokemon__container__stats__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: 10px;
}
.pokemon__container__stats__item__name {
  margin-right: 10px;
}
.pokemon__container__stats__item__value {
  display: flex;
  align-items: center;
}
.pokemon__container__stats__item__value__number {
  margin-right: 10px;
}
.pokemon__container__stats__item__empty-bar {
  width: 200px;
  height: 10px;
}
.pokemon__container__stats__item__full-bar {
  background-color: white;
  height: 100%;
}
.pokemon__container__stats__item__full-bar--red {
  background-color: #d93838;
  height: 100%;
}
.pokemon__container__stats__item__full-bar--orange {
  background-color: #d99238;
  height: 100%;
}
.pokemon__container__stats__item__full-bar--yellow {
  background-color: #d2d938;
  height: 100%;
}
.pokemon__container__stats__item__full-bar--green {
  background-color: #26952b;
  height: 100%;
}
.pokemon__container__tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.pokemon__container__tables__stats {
  border: 6px ridge #dcea0d;
  border-collapse: collapse;
}
.pokemon__container__tables__stats__cell {
  border: 3px ridge #dcea0d;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgba(12, 13, 2, 0.7);
  color: #dcea0d;
}
.pokemon__container__tables__weaknesses {
  border-collapse: collapse;
}
.pokemon__container__tables__weaknesses__column {
  border: 6px ridge #dcea0d;
  border-collapse: collapse;
}
.pokemon__container__tables__weaknesses__cell {
  border: 3px ridge #dcea0d;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgba(12, 13, 2, 0.7);
  color: #dcea0d;
}
.pokemon__container__tables__weaknesses__cell--orange {
  border: 3px ridge #dcea0d;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgba(217, 146, 56, 0.7);
  color: black;
}
.pokemon__container__tables__weaknesses__cell--red {
  border: 3px ridge #dcea0d;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgba(217, 56, 56, 0.7);
  color: black;
}
.pokemon__container__tables__weaknesses__cell--green {
  border: 3px ridge #dcea0d;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgba(38, 149, 43, 0.7);
  color: black;
}
.pokemon__container__tables__weaknesses__cell--blue {
  border: 3px ridge #dcea0d;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgba(132, 217, 56, 0.7);
  color: black;
}
.pokemon__container__tables__weaknesses__cell--yellow {
  border: 3px ridge #dcea0d;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgba(210, 217, 56, 0.7);
  color: black;
}
.pokemon__container__tables__weaknesses__cell--white {
  border: 3px ridge #dcea0d;
  border-collapse: collapse;
  padding: 10px;
  background-color: rgba(56, 212, 217, 0.7);
  color: black;
}
.pokemon__container__talents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.pokemon__container__talents__container {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.pokemon__container__talents__container__item {
  border: 3px ridge #dcea0d;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(12, 13, 2, 0.7);
  color: #dcea0d;
}
.pokemon__loading {
  height: 100vh;
  width: 100%;
  background-color: rgba(12, 13, 2, 0.7);
  padding-top: 20%;
}

.pokearticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 3px ridge rgba(12, 13, 2, 0.75);
  background-color: rgba(12, 13, 2, 0.75);
  margin: 20px;
}
.pokearticle__name {
  text-decoration: none;
  color: #dcea0d;
}
.pokearticle__image {
  width: 200px;
  height: 200px;
}

.loader {
  text-align: center;
}
.loader__img {
  width: 20%;
  height: 20%;
  animation-name: loading;
  animation-duration: 1s;
}

.button__toggle__language {
  width: 240px;
  position: absolute;
  left: 42%;
  top: 13%;
  padding: 10px;
  background-color: #dcea0d;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */